.devPriceBoxSingle {
  background: rgba(24, 35, 47, 0.6);
  box-shadow: inset 0px 0px 0px 1.5px rgba(169, 169, 169, 1);
  width: 384px;
  height: 464px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  border-radius: 12px;
  padding: 40px 40px 32px;
}
.devPriceBoxSingle > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.devPriceBoxSingle > :global(.__wab_flex-container) > *,
.devPriceBoxSingle > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.devPriceBoxSingle > :global(.__wab_flex-container) > picture > img,
.devPriceBoxSingle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.devPriceBoxSingle {
  background: rgba(24, 35, 47, 0.6);
  box-shadow: inset 0px 0px 0px 1.5px rgba(169, 169, 169, 1);
  width: 384px;
  height: 464px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  border-radius: 12px;
  padding: 40px 40px 32px;
}
.mainContainer3 {
  width: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}
.mainContainer3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.mainContainer3 > :global(.__wab_flex-container) > *,
.mainContainer3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mainContainer3 > :global(.__wab_flex-container) > picture > img,
.mainContainer3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.mainContainer3 {
  width: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.developer {
  position: relative;
  width: 315px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.text__i1T1N {
  display: block;
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(249, 249, 249, 1);
}
.text__muxcp {
  display: block;
  font-size: 36px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(249, 249, 249, 1);
  position: relative;
  width: 315px;
}
.text___2CvMg {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.3999899999999998;
  color: rgba(173, 173, 174, 1);
  position: relative;
  width: 315px;
}
.text__mDh32 {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.3999899999999998;
  color: rgba(249, 249, 249, 1);
  position: relative;
  width: 315px;
}
.featuresList3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.featuresList3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.featuresList3 > :global(.__wab_flex-container) > *,
.featuresList3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.featuresList3 > :global(.__wab_flex-container) > picture > img,
.featuresList3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.featuresList3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconAndSection13 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.iconAndSection13 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.iconAndSection13 > :global(.__wab_flex-container) > *,
.iconAndSection13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.iconAndSection13 > :global(.__wab_flex-container) > picture > img,
.iconAndSection13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.iconAndSection13 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.iconBox6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px;
}
.svg__arXeb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fafafa;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.sectionName13 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 2px;
}
.sectionName13 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.sectionName13 > :global(.__wab_flex-container) > *,
.sectionName13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionName13 > :global(.__wab_flex-container) > picture > img,
.sectionName13 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.sectionName13 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px;
}
.link18 {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.3999899999999998;
  color: rgba(249, 249, 249, 1);
  position: relative;
}
.iconAndSection14 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.iconAndSection14 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.iconAndSection14 > :global(.__wab_flex-container) > *,
.iconAndSection14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.iconAndSection14 > :global(.__wab_flex-container) > picture > img,
.iconAndSection14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.iconAndSection14 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.iconBox7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px;
}
.svg__z9Re {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fafafa;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.sectionName14 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 2px;
}
.sectionName14 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.sectionName14 > :global(.__wab_flex-container) > *,
.sectionName14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionName14 > :global(.__wab_flex-container) > picture > img,
.sectionName14 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.sectionName14 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px;
}
.link19 {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.3999899999999998;
  color: rgba(249, 249, 249, 1);
  position: relative;
}
.iconAndSection15 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.iconAndSection15 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.iconAndSection15 > :global(.__wab_flex-container) > *,
.iconAndSection15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.iconAndSection15 > :global(.__wab_flex-container) > picture > img,
.iconAndSection15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.iconAndSection15 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.iconBox8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px;
}
.svg__o43HX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fafafa;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.sectionName15 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 2px;
}
.sectionName15 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.sectionName15 > :global(.__wab_flex-container) > *,
.sectionName15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionName15 > :global(.__wab_flex-container) > picture > img,
.sectionName15 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.sectionName15 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px;
}
.link20 {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.3999899999999998;
  color: rgba(249, 249, 249, 1);
  position: relative;
}
.iconAndSection16 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.iconAndSection16 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.iconAndSection16 > :global(.__wab_flex-container) > *,
.iconAndSection16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.iconAndSection16 > :global(.__wab_flex-container) > picture > img,
.iconAndSection16
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.iconAndSection16 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.iconBox9 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px;
}
.svg__xc8Yl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fafafa;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.sectionName16 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 2px;
}
.sectionName16 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.sectionName16 > :global(.__wab_flex-container) > *,
.sectionName16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionName16 > :global(.__wab_flex-container) > picture > img,
.sectionName16 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.sectionName16 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px;
}
.link21 {
  display: block;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.3999899999999998;
  color: rgba(249, 249, 249, 1);
  position: relative;
}
.button5 {
  height: 40px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 6px;
  padding: 16px 32px;
}
.label5 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 16px;
  color: rgba(249, 249, 249, 1);
  position: relative;
}
